@model SurfingBlogRt.Models.Vacancy

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<div>
    <div>@Model.Name</div>
    <div>@Model.Company</div>
    <div>
        <h2>Требования:</h2>
        <div>
            @Model.Obeys
        </div>
    </div>
    <div>
        <h2>Требования:</h2>
        <div>
            @Model.Requirements
        </div>
    </div>
    <div>
        <h2>Условия:</h2>
        <div>
            @Model.Conditions
        </div>
    </div>
    <div>
        <h2>Контактная информация</h2>
        <div>
            <p>@Model.Address</p>
            <p>@Model.Phone</p>
            <p>@Model.Email</p>
        </div>
    </div>
</div>





